/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

.custom-tabbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  max-width: 600px;
  bottom: 20px;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 100px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 6px 10px;
  z-index: 9999;
  border: none;
}

.custom-tabbar::before {
  display: none !important;
}

/* All tabbar icons base style */
.custom-tabbar .tab-link .icon {
  font-size: 22px;
  color: #999;
  transition: all 0.2s ease;
}

/* Enlarged and colored icon when active */
.custom-tabbar .tab-link.tab-link-active .icon {
  font-size: 30px;
  color: #ff3b30; /* or any theme color */
  transform: scale(1.2);
}
